#snake-path, #group-snake-colors {
    transform: scale(1.4) translate(-520px, -800px);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#snake-path {
    visibility: hidden;
}

.piece {
    stroke-width: 20;
}

.color-background {
    fill: #36515B;
    background-color: #36515B;
}

#svg-start-icon {
    transform: scale(0.1) translate(8em, 65em);
}

#svg-finish-icon {
    transform: scale(0.1) translate(390em, 235em);
}

#svg-wheel-icon {
    transform: scale(0.1) translate(80em, 60em);
}

#svg-boat-icon {
    transform: scale(0.1) translate(135em, 60em);
}

#svg-alphabet-icon {
    transform: scale(0.1) translate(190em, 60em);
}

