:root {
    --color-gray-tweet: #7B8C93;
    --color--empathy-red: #D44A6F;
    --color--empathy-orange: #E67962;
    --color--empathy-yellow: #FDCB5B;
    --color--empathy-light-green: #80C0A1;
    --color--empathy-dark-green: #5F8F78;
    --color--empathy-light-blue: #53B9C9;
    --color--empathy-dark-blue: #0086B2;
    --color--empathy-purple: #8B6391;
}

.second_viz {
    border: black;
}

#svg-x-icon {
    transform: scale(0.04) translate(1750em, 235em);
}

#svg-square-icon {
    transform: scale(0.04) translate(1660em, 235em);
}

#svg-substract-icon {
    transform: scale(0.04) translate(1570em, 235em);
}


/* Twitter */

#svg-TechCrunch-icon {
    transform: scale(0.025) translate(668em, 1210em);
}

#svg-twitter-verified-icon {
    transform: scale(0.01) translate(2500em, 3300em);
}

#svg-twitter-retweet-icon {
    transform: scale(0.06) translate(400em, 600em);
}

#twitter-account-name {
    font-size: 1.5em;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    fill: white;
}

#twitter-account-user,
#tweet-date {
    font-size: 1em;
    font-family: Montserrat, sans-serif;
    fill: var(--color-gray-tweet);
}

#cir_TechCrunch {
    fill: white
}

#tweet-content {
    fill: white;
    font-size: 1em;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
}

#twitter-info-title {
    fill: var(--color--empathy-light-green);
    font-size: 1.2em;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}


/* Peek year */

#peek-year-number {
    font-family: 'Orelega One', cursive;
    fill: var(--color--empathy-red);
    font-size: 7em;
    letter-spacing: 5px;
}

#peek-year-text {
    font-size: 1.5em;
    font-family: Montserrat, sans-serif;
    fill: white;
    text-transform: uppercase;
    font-weight: lighter;
}


/* Fun fact */

#fact-info-title {
    fill: var(--color--empathy-yellow);
    font-size: 1.2em;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

/* VS */

#vs-title {
    fill: var(--color--empathy-light-blue);
    font-size: 1.2em;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}


/* https://www.flaticon.com/free-icon/man_3439472?term=man&page=1&position=21&page=1&position=21&related_id=3439472&origin=tag */

#fact-description {
    fill: white;
    font-size: 1em;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
}