#third_viz_title {
    font-family: Montserrat, sans-serif, Tahoma;
    font-size: calc(1vw + 1em);
    color: #d7c8ff;
    text-align: center;
}


/** SVG ********************************************/

#svg-SOLID-icon {
    transform: scale(0.5) translate(10em, 20em);
}

#group-SOLID {
    transform: translate(38%, 8em);
}

.line-SOLID {
    stroke-dasharray: 5, 5;
    stroke: white;
    stroke-width: 3;
}

#circle-SOLID {
    fill-opacity: 0;
    stroke-width: 0.7em;
    stroke: white;
}

#svg-SOLID-privacy-icon {
    transform: scale(0.18) translate(47em, -35em);
}

#svg-SOLID-profile-icon {
    transform: scale(0.15) translate(158em, 35em);
}