#third_viz_title {
    font-family: Montserrat, sans-serif, Tahoma;
    font-size: calc(1vw + 1em);
    color: #d7c8ff;
    text-align: center;
}

:root {
    --color-gray-tweet: #7B8C93;
    --color--empathy-red: #D44A6F;
    --color--empathy-orange: #E67962;
    --color--empathy-yellow: #FDCB5B;
    --color--empathy-light-green: #80C0A1;
    --color--empathy-dark-green: #5F8F78;
    --color--empathy-light-blue: #53B9C9;
    --color--empathy-dark-blue: #0086B2;
    --color--empathy-purple: #8B6391;
}


h1.title-future{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color:var(--color--empathy-light-green);
}


/** SVG ********************************************/

#svg-SOLID-icon {
    transform: scale(0.5) translate(10em, 20em);
}

#group-SOLID {
    transform: translate(30%, 8em);
}

.line-SOLID {
    stroke-dasharray: 5, 5;
    stroke: white;
    stroke-width: 3;
}

#circle-SOLID {
    fill-opacity: 0;
    stroke-width: 0.7em;
    stroke: white;
}

#svg-SOLID-privacy-icon {
    transform: scale(0.18) translate(47em, -35em);
}

#svg-SOLID-profile-icon {
    transform: scale(0.15) translate(158em, 35em);
}

#svg-SOLID-database-storage-icon {
    transform: scale(0.15) translate(162em, 135em);
}

#svg-SOLID-inrupt-icon {
    transform: scale(0.15) translate(35em, 185em);
}

#svg-SOLID-empathy-imagotype-white-icon {
    transform: scale(0.55) translate(-19em, 35em);
}

#svg-SOLID-tim-berners-lee-icon {
    transform: scale(0.4) translate(-20em, 10em);
}

#SOLID-content {
    display: flex;
    width: 80%;
    margin: auto;
    font-family: 'Montserrat';
}

#SOLID-content svg {
    width: 60%;
    float: right;
}

#help-SOLID {
    width: 20em;
    height: fit-content;
    padding: 1em;
    background-color: #2b4a57af;
    margin-top: 2em;
}

#help-SOLID-extra a:link,
#help-SOLID-extra a:visited {
    color: #d3d3d3;
    font-weight: lighter;
}


/* mouse over link */

#help-SOLID-extra a:hover {
    color: #cd6be6;
}


/* selected link */

#help-SOLID-extra a:active {
    color: #bc5cd4;
}

#help-SOLID {
    color: #A6B0B5;
    border-radius: .5em;
    text-align: center;
}

#help-SOLID-body {
    font-family: Lora, serif;
    color: #A6B0B5;
    font-size: calc(0.6vw + 0.5em);
    text-align: justify;
}

#help-SOLID-title {
    font-variant: small-caps;
    color: #E2E6E7;
    font-weight: bold;
    font-size: calc(0.8vw + 0.8em);
    background-color: #a259dd1e;
    padding: 0.5em;
}

#help-SOLID-extra {
    color: #a3a3a3;
    font-size: calc(0.4vw + 0.4em);
}

#help-img {
    width: calc(1vw + 0.4em);
    margin-left: 1vw;
}