/* GRAPHIC CODE */

body{
    background:#36515B;
}



.graphic {
	width: 100%;
	position: relative;
}

.graphic__prose {
	width: 24rem;
}

.graphic__search img{
    position:absolute;
   bottom: 110px;
    left: 60px;
/*	width: 24rem;*/
}

.graphic__prose .trigger {
/*
	padding: 0;
	margin: 0;
*/
/*	min-height: 240px;*/
    font-family: Montserrat,sans-serif,Tahoma;
    margin-left: 80px;
    margin-top: 200px;
    height: 100px;
    font-size: 40px;
    line-height: 40px;
    font-weight:lighter;
    color: #E2E6E7;
    font-weight: bold;
}

.trigger span{
    top: 0;
/*        margin-left: 80px;*/
/*    margin-top: 200px;*/
line-height: 12px;
font-family: Lora,serif;
font-size: 22px;
color: #A6B0B5;
    
}

.trigger2 {
/*
	padding: 0;
	margin: 0;
*/
/*	min-height: 240px;*/
    font-family: Montserrat,sans-serif,Tahoma;
    margin-left: 80px;
    margin-top: 200px;
    height: 100px;
    font-size: 40px;
    line-height: 30px;
    font-weight:lighter;
    color: #8B6391;
}

.trigger2 span{
    top: 0;
/*        margin-left: 80px;*/
/*    margin-top: 200px;*/
line-height: 12px;
font-family: Lora,serif;
font-size: 16px;
color: #8B6391;
    
}

path {
  stroke: black;
  stroke-width: 0.75px;
  fill: none;
    opacity:1;
}

.graphic__vis {
	position: absolute;
	top: 0;
	margin-left: 30rem;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	height: 100vh;
}

.graphic__vis.is-fixed {
	position: fixed;
}

.graphic__vis.is-bottom {
	top: auto;
	bottom: 0;
}

.graphic__vis svg {
/*	border: 1px dashed black;*/
	border: 0px dashed black;
    background: #fff;
    top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.item circle {
	stroke: #666;
	stroke-width: 1px;
	fill: #fff;
}

.item text {
	fill: #666;
	font-size: 12px;
	text-anchor: middle;
	alignment-baseline: middle;
}



/* graph-scroll.js version */
.graphic__vis.graph-scroll-fixed {
	position: fixed;
	right: auto;
}

.graphic__vis.graph-scroll-below {
	top: auto;
	bottom: 0;
}