/* GRAPHIC CODE */

body{
    background:#36515B;
}

.graphic {
	width: 100%;
	position: relative;
}

.graphic__prose {
	width: 24rem;
}

.graphic__prose .trigger {
    font-family: Montserrat,sans-serif,Tahoma;
    margin-left: 80px;
    margin-top: 200px;
    height: 100px;
    font-size: 40px;
    line-height: 40px;
    font-weight:lighter;
    color: #E2E6E7;
    font-weight: bold;
}

.trigger span{
    top: 0;
    line-height: 12px;
    font-family: Lora,serif;
    font-size: 22px;
    color: #A6B0B5;
}

